body{
    font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}
.jrbackground{
    background: url('https://www.handy-japan.com/cp/jr/img/top_bg_sp.jpg') no-repeat center;
    background-size: cover;
    padding: 100px 0px;
    position: relative;
    height: 440px;
    max-width: 464px;
}

.jrinner{
    /* background: url('https://www.handy-japan.com/cp/jr/img/top_text.svg'); */
    max-width: 464px;
    /* height: ; */
}

.jrform{
    text-align: center;
    margin-bottom: 80px;
}

.jrsubtitle{
    font-size: 20px;
    line-height: 2.8;
    letter-spacing: -0.5px;
    color: #C19A53;
    text-align: center;
    
}

.number{
    font-size: 16px;
    transform: scale(0.8);
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    line-height: 1;
    border: 1px solid #ccc;
    border: 0;
    padding: 10px;
    font-size: 1.3em;
    color: #002855;
    border: solid 1px #C19A53;
    margin: 0 0 20px;
    width: 325px;
    height: 56px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.btn{
    outline: none;
    color: #fff;
    background: #C19A53;
    width: 100%;
    max-width: 325px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-size: 1em;
    border: none;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 0;
    -webkit-appearance: none;
}

.footer{
    text-align: center;
    padding: 30px 20px 20px;
    background: #002855;
    color: #fff;
    margin: 0 auto;
    box-sizing: border-box;
}