body{
   background-color: #ffffff; 
}

  .content {
    margin: 16px 36px;
    height: 100%;
  }

  .weatherinfobody{
    height: 80px;
  }


  .switchdiv{
    margin-top: 20px;
    float: right;
  }
