body{
   background-color: #ffffff; 
}

  .content {
    margin: 16px 36px;
    height: 100%;
  }

  .weatherinfobody{
    height: 80px;
  }


  .switchdiv{
    margin-top: 20px;
    float: right;
  }




  .addiv{
    /* height: 500px; */
    /* background-color: antiquewhite; */
    margin-top: 32px;
    width: 300px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .adone{
    height: 250px;
    background-color: rgba(82, 82, 82, 0.7);
    margin-bottom: 8px;
  }