@import "../../assets/common/index.scss";

.root {
  width: 360px;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  max-width: 414px;
  padding: 20px 0 0;
  font-weight: 300;
  box-sizing: border-box;
  font-family: Montserrat,
    'Noto Sans JP',
    sans-serif;

  .bgImg {
    position: absolute;
    top: -200px;
    right: -170px;
    width: 360px;
    height: 700px;
    background: url('../../assets/jr/new/top_bg_art.svg') center/140% no-repeat;
    z-index: -9999;
  }

  .firstPage {
    .findForm {
      position: fixed;
      bottom: 20px;
      right: 10px;
      z-index: 9999;

      img {
        width: 80px;
        opacity: 0.8;
      }

    }

    .header {
      padding: 0 16px;
      color: $mainColor;

      .chooseLang {
        img {
          width: 10px;
          margin-right: 5px;
        }
      }

      .language {
        position: relative;
        display: inline-block;
        width: 85px;
        line-height: 32px;
        height: 32px;
        cursor: pointer;

        &::after {
          content: '';
          position: absolute;
          top: 15px;
          right: 0;
          width: 0;
          height: 0;
          border: 5px solid transparent;
          border-top-color: $mainColor;
        }
      }

      .langList {
        position: absolute;
        left: 13px;
        width: 162px;
        padding: 4px 0;
        border: 1px solid rgba(0, 0, 0, .15);
        border-radius: .25rem;
        background-color: $white;
        z-index: 9999;

        li {
          height: 32px;
          line-height: 32px;
          margin-left: 20px;
          font-size: $font16;
          cursor: pointer;
        }
      }
    }

    .module1 {
      padding: 0 16px;
      margin: 10px auto 0;
      padding: 16px;
      box-shadow: -4px 10px 45px -8px rgba(99, 99, 99, .5);

      header {
        img {
          width: 96px;
          height: 125px;
        }
      }

      .welcome {
        position: relative;
        margin-top: -90px;
        padding-left: 40px;

        img {
          width: 236px;
          height: 183px;
          margin-top: 30px;
        }

        .infoImg {
          img {
            width: 100px;
            height: 100px;
            position: absolute;
            top: -40px;
            right: 0;
            z-index: -9999;
          }
        }

      }

      .text {
        padding-left: 20px;

        p {
          display: flex;
          justify-content: space-between;
          padding-right: 40px;

          &:last-child {
            justify-content: flex-end;
          }
        }

        .rightBig {
          font-size: $font64;
          font-weight: 600;
        }

        .leftSmall {
          text-align: right;
          font-size: $font32;
          font-weight: 400;
        }
      }

      .knowMore {
        display: flex;
        justify-content: center;
        align-items: center;

        button {
          min-width: 165px;
          min-height: 43px;
          background: linear-gradient(to right, #FFCC87, #FF6352);
          font-size: $font18;
          color: $white;
          border-radius: 30px;
          padding: 8px 18px;
          margin: 20px 0 30px;
          cursor: pointer;
        }
      }
    }

    .module2 {
      padding: 0 16px;
      position: relative;
      margin-top: 50px;
      box-shadow: -4px 10px 45px -8px rgba(99, 99, 99, .5);
      padding: 16px;
      text-align: center;
      background-color: rgba(255, 255, 255, 0.8);

      .bgImg2 {
        position: absolute;
        // top: 460px;
        bottom: 30px;
        left: -16px;
        z-index: -9999;

        img {
          width: 360px;
          // height: 300px;
        }

      }

      p {
        margin: 20px 0;
        line-height: 2;
        font-size: $font12;
        color: $hex19;
        font-weight: 300;
      }

      header {
        padding: 16px;

        img {
          width: 260px;
          height: 43px;
        }
      }

      .middle {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
          width: 146px;
          padding: 16px 0;
        }

        p {
          margin: 20px 0 30px 0;
          line-height: 1.5;
        }
      }
    }
  }

  .module3 {
    margin-top: 50px;
    padding: 20px 16px;
    background-image: linear-gradient(#FFF5BA, #FFB290);

    header {
      p {
        font-size: $font24;
        color: $mainColor;
        font-weight: 400;
        margin: 10px 0 -10px 40px;
      }
    }

    .top1 {
      section {
        width: 300px;
        padding: 15px 8px;
        margin: 32px auto;
        background: rgba(255, 255, 255, .8);

        .top {
          display: flex;
          justify-content: space-between;

          .circle {
            display: inline-block;
            width: 75px;
            height: 75px;
            line-height: 75px;
            text-align: center;
            font-size: 30px;
            border: none;
            background-image: linear-gradient(to right, #FFCC99, #FF6452);
            border-radius: 50%;
            color: white;
          }

          p {
            flex: 1;
            margin-left: 10px;
            font-weight: 300;

            img {
              width: 16px;
            }
          }
        }

        .bottom {
          display: flex;
          justify-content: flex-end;
          margin-top: -10px;
          padding-right: 40px;
        }
      }
    }

    .pic {
      margin: 50px 0;
      text-align: center;

      img {
        width: 328px;
      }
    }

    .inputForm {
      padding: 30px 0;
      background-color: $white;
      color: $mainColor;
      border-radius: 30px;

      p {
        text-align: center;
      }

      .header {
        margin-bottom: 18px;
        font-size: $font20;
        font-weight: 600;
      }

      .content {
        font-size: $font16;
        line-height: 1.2;
        width: 280px;
        margin: 0 auto;
        text-align: center;
      }

      .jrform {
        margin: 30px 0 0;
        display: flex;
        flex-direction: column;
        align-items: center;

        .failedstatus {
          display: block;
          color: $blackRed;
          font-weight: 600;
          margin-bottom: 10px;
        }

        .suicaContainer {
          display: flex;
          justify-content: space-between;

          .number {
            margin: 8px;
            // font-size: $font14;
            border: 1px solid $hexe3;
            width: 56px;
            height: 32px;
            border-radius: 3px;
            text-align: center;

            &::placeholder {
              font-size: $font12;
            }
          }
        }

        .btn,
        .waitbtn {
          cursor: pointer;
          background-color: $mainColor;
          color: $white;
          width: 296px;
          height: 52px;
          border-radius: 10px;
          font-size: $font24;
          margin: 16px 0;
        }

        .waitbtn {
          background-color: $hexe3;
        }

        .bottomPic {
          margin-top: 20px;
          width: 280px;
        }
      }
    }

    .moviePic {
      margin: 40px 0;
      text-align: center;

      p {
        text-align: center;
        color: $mainColor;
        font-size: $font32;
        font-weight: 600;
        margin-bottom: 5px;
      }

      img {
        width: 328px;
      }
    }
  }

  .module4 {
    margin: 50px 0;

    .header4 {
      position: relative;

      p {
        font-size: $font18;
        padding: 21px 48px;
      }

      p:first-child {
        width: 300px;
        color: white;
        background-color: $mainColor;
        border-top-right-radius: 100px;
        border-bottom-right-radius: 100px;
      }

      p:last-child {
        position: absolute;
        top: 55px;
        right: 0;
        text-align: right;
        width: 320px;
        color: $hex19;
        padding: 13px 26px;
        background-color: #FFB290;
        border-top-left-radius: 100px;
        border-bottom-left-radius: 100px;
        z-index: -9999;
      }
    }

    .top2Img {
      display: flex;
      justify-content: center;
      margin-top: 85px;
      margin-bottom: 50px;

      img {
        width: 296px;
        height: 305px;
      }
    }

    .text4 {
      padding: 0 16px;

      .subHeader4 {
        text-align: center;
        font-size: $font16;

        span {
          line-height: 1.6;
          background-image: linear-gradient(to right, rgba(255, 178, 144, .75), rgba(255, 178, 144, .75));
          background-size: 5px 5px;
          background-repeat: repeat-x;
          background-position: 0 11px;
        }

        .subNumber {
          color: $mainColor;
          font-size: $font32;
          font-weight: 600;
          background-position: 0 27px;
        }
      }

      .subContent {
        text-align: center;
        margin: 2px 0 20px;
        font-size: $font12;

        p {
          line-height: 1.4;
        }
      }
    }
  }

  .module6 {
    padding: 32px;

    p {
      line-height: 1.7;
    }

    .header6 {
      color: $mainColor;
      font-size: $font24;
      text-align: center;
      width: 300px;
      font-weight: 400;
      margin: 0px 0 30px;
      line-height: 1;
    }

    .subHeader6 {
      margin: 14px 0 6px;

      .number6 {
        font-size: $font16;
        color: $mainColor;
        font-weight: 600;
      }
    }

    .item6 {
      font-size: 12px;
      font-weight: 400;
    }
  }

  .footer {
    position: relative;
    margin-top: 250px;

    .footerBgImg {
      position: absolute;
      bottom: 0;
      width: 1600px;
      z-index: -9999;
      left: -330px;
    }

    .topFooter {
      text-align: center;
      color: $white;
      font-size: $font12;

      p {
        margin: 3px 0;
      }

      a {
        color: $white;
        font-size: $font12;
      }

      img {
        width: 100px;
      }
    }

    .copyright {
      font-size: 6px;
      color: $white;
      text-align: right;
      padding: 30px 16px 30px;
    }
  }

  .suicaThx {
    margin-top: -20px;

    .headerThx {
      position: relative;
      margin-bottom: 45px;

      .thxBg {
        position: absolute;
        top: -25px;
        z-index: -9999;
      }

      .thxHeaderText {
        width: 293px;
        height: 250px;
        margin: 0 auto;
        background-color: rgba(255, 255, 255, 0.8);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 19px;
        box-sizing: border-box;
        margin-top: 30px;

        p {
          text-align: center;
          color: $mainColor;
          font-size: $font16;
          line-height: 1.3;
        }

        .thxTextHeader {
          font-size: $font24;
        }

        img {
          width: 82px;
          margin: 10px;
        }
      }
    }

    .jrThxForm {
      .iframeContainer {
        display: flex;
        justify-content: center;

        iframe {
          border: 1px solid #ccc;
        }

        // text-align: center;
      }

      p {
        color: $mainColor;
        font-size: $font12;
        margin: 30px;
        text-align: center;
      }

      .jrThxSurveySubtitle {
        font-size: $font16;
        margin: 16px 0 30px;
      }
    }
  }
}
