$mainColor: #ff6352;
$white: #ffffff;
$green: #016234;
$hex19: #191919;
$hexe3: #e3e3e3;
$blackRed: #db0c1f;

$font12: 12px;
$font16: 16px;
$font18: 18px;
$font20: 20px;
$font22: 22px;
$font24: 24px;
$font64: 64px;
$font32: 32px;
